.mat-dialog-container {
  left : 500px;
  width: 600px;
  height: 200px;
}

.mat-dialog-header {
  position: absolute;
  top: -32px;
  width: calc(100% + 19px);
  left: -25px;
  padding: 15px;
  padding-bottom: 0;
}

.mat-dialog-header h2{
  color: #fff;
}
