<div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayout.lt-lg="column" fxLayoutGap="10px grid">
  <div fxFill fxFlex="65%" fxFlex.gt-lg="65%">
    <mat-card>
      <mat-card-content>
        <h3 class="primary">
          <mat-icon class="bg-primary mat-icon-head" width="10">apps</mat-icon>
          <span i18n>Application Services</span>
        </h3>
      </mat-card-content>
      <mat-card-content>
        <div fxFill fxFlex="50%" fxFlex.gt-lg="33,33%">
          <div class="card_summary card_summary_up">
            <div class="thumb div_up" fxFlex="30%" fxFlex.gt-lg="30%">
              <mat-icon class="white-icon">thumb_up</mat-icon>
            </div>
            <div class="text-center" fxFlex="80%" fxFlex.gt-lg="80%">
              <h1 class="font-light text-up">{{this.applicationServicesUp}}</h1>
            </div>
          </div>
        </div>
        <div fxFill fxFlex="50%" fxFlex.gt-lg="33,33%">
          <div class="card_summary card_summary_down">
            <div class="thumb div_down" fxFlex="30%" fxFlex.gt-lg="30%">
              <mat-icon class="white-icon">thumb_down</mat-icon>
            </div>
            <div class="text-center" fxFlex="80%" fxFlex.gt-lg="80%">
              <h1 class="font-light text-down">{{this.applicationServicesDown}}</h1>
            </div>
          </div>
        </div>
        <div fxFill fxFlex="50%" fxFlex.gt-lg="33,33%">
          <div class="card_summary card_summary_pending">
            <div class="thumb div_pending " fxFlex="30%" fxFlex.gt-lg="30%">
              <mat-icon class="white-icon">help</mat-icon>
            </div>
            <div class="text-center" fxFlex="80%" fxFlex.gt-lg="80%">
              <h1 class="font-light text-pending">{{this.applicationServicesPending}}</h1>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-list class="columnList card_list">
        <a *ngFor="let item of applicationServicesList" class="menu-item" mat-list-item>
          <a href="{{item.link}}" target="_blank" style="text-decoration: none" matTooltip="Cloud Control" class="material-icons {{item.status}}" i18n-matTooltip>fiber_manual_record</a>
          <a href="{{item.comments}}" target="_blank" style="text-decoration: none" matTooltip="Documentation" class="span" i18n>{{item.targetName}}</a>
        </a>
      </mat-list>
    </mat-card>
  </div>

  <div fxFill fxFlex="35%" fxFlex.gt-lg="35%">
    <mat-card>
      <mat-card-content>
        <h3 class="primary">
          <mat-icon class="bg-primary mat-icon-head" width="10">share</mat-icon>
          <span i18n>Shared Services</span>
        </h3>
      </mat-card-content>
      <mat-card-content>
        <div fxFill fxFlex="50%" fxFlex.gt-lg="33,33%">
          <div class="card_summary card_summary_up">
            <div class="thumb div_up" fxFlex="30%" fxFlex.gt-lg="30%">
              <mat-icon class="white-icon">thumb_up</mat-icon>
            </div>
            <div class="text-center" fxFlex="80%" fxFlex.gt-lg="80%">
              <h1 class="font-light text-up">{{this.sharedServicesUp}}</h1>
            </div>
          </div>
        </div>
        <div fxFill fxFlex="50%" fxFlex.gt-lg="33,33%">
          <div class="card_summary card_summary_down">
            <div class="thumb div_down" fxFlex="30%" fxFlex.gt-lg="30%">
              <mat-icon class="white-icon">thumb_down</mat-icon>
            </div>
            <div class="text-center" fxFlex="80%" fxFlex.gt-lg="80%">
              <h1 class="font-light text-down">{{this.sharedServicesDown}}</h1>
            </div>
          </div>
        </div>
        <div fxFill fxFlex="50%" fxFlex.gt-lg="33,33%">
          <div class="card_summary card_summary_pending">
            <div class="thumb div_pending " fxFlex="30%" fxFlex.gt-lg="30%">
              <mat-icon class="white-icon">help</mat-icon>
            </div>
            <div class="text-center" fxFlex="80%" fxFlex.gt-lg="80%">
              <h1 class="font-light text-pending">{{this.sharedServicesPending}}</h1>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-list class="columnList card_list">
        <a *ngFor="let item of sharedServicesList" class="menu-item" mat-list-item>
          <a href="{{item.link}}" target="_blank" style="text-decoration: none" matTooltip="Cloud Control" class="material-icons {{item.status}}" i18n-matTooltip>fiber_manual_record</a>
          <a href="{{item.comments}}" target="_blank" style="text-decoration: none" matTooltip="Documentation" class="span" i18n>{{item.targetName}}</a>
        </a>
      </mat-list>
    </mat-card>
  </div>

  <div fxFill fxFlex="100">
    <mat-card>
      <mat-card-content>
          <h3 class="primary">
            <mat-icon class="bg-primary mat-icon-head" width="10">network_cell</mat-icon>
            <span [ngClass]="{'has-delay': networkServicesList && networkServicesList[0].hasDelay }" i18n>Network - {{networkServicesList && networkServicesList[0].retrieveDate | date : "yyyy-MM-dd HH:mm:ss Z"}} </span>
          </h3>
          <table mat-table #table [dataSource]="dataSource">
              <ng-container matColumnDef="connection">
                  <th mat-header-cell *matHeaderCellDef i18n></th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="heverlee"><th mat-header-cell style="text-align:center;" matTooltip="Heverlee (Belgium)" *matHeaderCellDef i18n>(HVLE) BE</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.heverleeStatus}}" matTooltip="{{element.heverleeUploadSpeed}} {{element.heverleeDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.heverleePercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="montreal"><th mat-header-cell style="text-align:center;" matTooltip="Montreal (Canada)" *matHeaderCellDef i18n>(MTR) CA</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.montrealStatus}}" matTooltip="{{element.montrealUploadSpeed}} {{element.montrealDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.montrealPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="shanghai"><th mat-header-cell style="text-align:center;" matTooltip="Shanghai (China)" *matHeaderCellDef i18n>(SNG) CN</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.shanghaiStatus}}" matTooltip="{{element.shanghaiUploadSpeed}} {{element.shanghaiDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.shanghaiPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="suzhou"><th mat-header-cell style="text-align:center;" matTooltip="Suzhou (China)" *matHeaderCellDef i18n>(SZU) CN</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.suzhouStatus}}" matTooltip="{{element.suzhouUploadSpeed}} {{element.suzhouDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.suzhouPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="zagreb"><th mat-header-cell style="text-align:center;" matTooltip="Zagreb (Croatia)" *matHeaderCellDef i18n>(ZGR) HR</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.zagrebStatus}}" matTooltip="{{element.zagrebUploadSpeed}} {{element.zagrebDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.zagrebPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="carquefou"><th mat-header-cell style="text-align:center;" matTooltip="Carquefou (France)" *matHeaderCellDef i18n>(CRF) FR</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.carquefouStatus}}" matTooltip="{{element.carquefouUploadSpeed}} {{element.carquefouDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.carquefouPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="augsburg"><th mat-header-cell style="text-align:center;" matTooltip="Augsburg (Germany)" *matHeaderCellDef i18n>(AUG) DE</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.augsburgStatus}}" matTooltip="{{element.augsburgUploadSpeed}} {{element.augsburgDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.augsburgPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="berlin"><th mat-header-cell style="text-align:center;" matTooltip="Berlin (Germany)" *matHeaderCellDef i18n>(BRLN) DE</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.berlinStatus}}" matTooltip="{{element.berlinUploadSpeed}} {{element.berlinDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.berlinPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="dusseldorf"><th mat-header-cell style="text-align:center;" matTooltip="Düsseldorf (Germany)" *matHeaderCellDef i18n>(DSD) DE</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.dusseldorfStatus}}" matTooltip="{{element.dusseldorfUploadSpeed}} {{element.dusseldorfDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.dusseldorfPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="chennai"><th mat-header-cell style="text-align:center;" matTooltip="Chennai (India)" *matHeaderCellDef i18n>(CNN) IN</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.chennaiStatus}}" matTooltip="{{element.chennaiUploadSpeed}} {{element.chennaiDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.chennaiPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="riga"><th mat-header-cell style="text-align:center;" matTooltip="Riga (Latvia)" *matHeaderCellDef i18n>(RGA) LV</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.rigaStatus}}" matTooltip="{{element.rigaUploadSpeed}} {{element.rigaDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.rigaPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="bertrange"><th mat-header-cell style="text-align:center;" matTooltip="Bertrange (Luxembourg)" *matHeaderCellDef i18n>(BTRGE) LU</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.bertrangeStatus}}" matTooltip="{{element.bertrangeUploadSpeed}} {{element.bertrangeDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.bertrangePercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="krakow"><th mat-header-cell style="text-align:center;" matTooltip="Krakow (Poland)" *matHeaderCellDef i18n>(KRKW) PL</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.krakowStatus}}" matTooltip="{{element.krakowUploadSpeed}} {{element.krakowDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.krakowPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="pacoDarcos"><th mat-header-cell style="text-align:center;" matTooltip="Paço de Arcos (Portugal)" *matHeaderCellDef i18n>(LSBN) PT</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.pacoDarcosStatus}}" matTooltip="{{element.pacoDarcosUploadSpeed}} {{element.pacoDarcosDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.pacoDarcosPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="bucharest"><th mat-header-cell style="text-align:center;" matTooltip="Bucharest (Romania)" *matHeaderCellDef i18n>(BCRST) RO</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.bucharestStatus}}" matTooltip="{{element.bucharestUploadSpeed}} {{element.bucharestDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.bucharestPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="sibiu"><th mat-header-cell style="text-align:center;" matTooltip="Sibiu (Romania)" *matHeaderCellDef i18n>(SBU) RO</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.sibiuStatus}}" matTooltip="{{element.sibiuUploadSpeed}} {{element.sibiuDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.sibiuPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="novoMesto"><th mat-header-cell style="text-align:center;" matTooltip="Novo Mesto (Slovenia)" *matHeaderCellDef i18n>(NVM) SI</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.novoMestoStatus}}" matTooltip="{{element.novoMestoUploadSpeed}} {{element.novoMestoDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.novoMestoPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="madrid"><th mat-header-cell style="text-align:center;" matTooltip="Madrid (Spain)" *matHeaderCellDef i18n>(MAD) ES</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.madridStatus}}" matTooltip="{{element.madridUploadSpeed}} {{element.madridDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.madridPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="vitoria"><th mat-header-cell style="text-align:center;" matTooltip="Vitoria (Spain)" *matHeaderCellDef i18n>(VTRA) ES</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.vitoriaStatus}}" matTooltip="{{element.vitoriaUploadSpeed}} {{element.vitoriaDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.vitoriaPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="kreuzlingen"><th mat-header-cell style="text-align:center;" matTooltip="Kreuzlingen (Switzerland)" *matHeaderCellDef i18n>(KZLG) CH</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.kreuzlingenStatus}}" matTooltip="{{element.kreuzlingenUploadSpeed}} {{element.kreuzlingenDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.kreuzlingenPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="zurich"><th mat-header-cell style="text-align:center;" matTooltip="Zurich (Switzerland)" *matHeaderCellDef i18n>(ZRH) CH</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.zurichStatus}}" matTooltip="{{element.zurichUploadSpeed}} {{element.zurichDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.zurichPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="westminster"><th mat-header-cell style="text-align:center;" matTooltip="Westminster (USA)" *matHeaderCellDef i18n>(WESM) US</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.westminsterStatus}}" matTooltip="{{element.westminsterUploadSpeed}} {{element.westminsterDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.westminsterPercentageHtml}}</pre></td></ng-container>
              <ng-container matColumnDef="riverfalls"><th mat-header-cell style="text-align:center;" matTooltip="RiverFalls (USA)" *matHeaderCellDef i18n>(RIVF) US</th><td mat-cell *matCellDef="let element"> <pre align="center"><i class="material-icons {{element.riverfallsStatus}}" matTooltip="{{element.riverfallsUploadSpeed}} {{element.riverfallsDownloadSpeed}}" i18n>fiber_manual_record</i></pre><pre class="{{element.name}}" align="center">{{element.riverfallsPercentageHtml}}</pre></td></ng-container>
              
                     
              <tr mat-header-row *matHeaderRowDef="[ 'connection' , 'heverlee','montreal','shanghai','suzhou','zagreb','carquefou','augsburg','berlin','dusseldorf','chennai','riga','bertrange','krakow','pacoDarcos','bucharest','sibiu','novoMesto','madrid','vitoria','kreuzlingen','zurich','westminster','riverfalls']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['connection' , 'heverlee','montreal','shanghai','suzhou','zagreb','carquefou','augsburg','berlin','dusseldorf','chennai','riga','bertrange','krakow','pacoDarcos','bucharest','sibiu','novoMesto','madrid','vitoria','kreuzlingen','zurich','westminster','riverfalls'];"></tr>
          </table>

          <div class="spinner-container" align="center" *ngIf="networkInfoLoading$ | async">
                  <mat-spinner></mat-spinner>
          </div>
      </mat-card-content>
  </mat-card>
  </div>

</div>