<div ng-show="showLoader" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayout.lt-lg="column" fxLayoutGap="10px grid">

    <div fxFill fxFlex="100%" fxFlex.gt-lg="100%">
        <mat-card>
            <mat-card-content>
                    

            </mat-card-content>
        </mat-card>
    </div>

    <div fxFill fxFlex="33,33%" fxFlex.gt-lg="33,33%">
        <mat-card>
            <mat-card-content>
                <h3 class="primary">
                    <mat-icon class="bg-primary mat-icon-head" width="5200">pie_chart</mat-icon>
                    <span i18n>Intrusion Events - Fire Power</span>
                </h3>
               
            </mat-card-content>
            
        </mat-card>
    </div>

    <div fxFill fxFlex="33,33%" fxFlex.gt-lg="33,33%">
        <mat-card>
            <mat-card-content>
                <h3 class="primary">
                    <mat-icon class="bg-primary mat-icon-head" width="5200">pie_chart</mat-icon>
                    <span i18n>Kaspersky Security Center - Monitoring</span>
                </h3>
               
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFill fxFlex="33,33%" fxFlex.gt-lg="33,33%">
        <mat-card>
            <mat-card-content>
                <h3 class="primary">
                    <mat-icon class="bg-primary mat-icon-head" width="5200">pie_chart</mat-icon>
                    <span i18n>Insigh VM - Vulnerability</span>
                </h3>
             
            </mat-card-content>
        
        </mat-card>
    </div>

</div>