h2 {
  margin-top : 0px;
}

h2 > mat-icon {
  display: inline;
  padding: 7px;
  color: #fff;
  margin-right: 10px;
  border-radius: 25px;
  vertical-align: bottom;
}
.high {
  background-color: red;
}

.FAILED {
  color: rgba(255, 0, 0, 0.733);
}

.COMPLETED {
  color: rgb(0, 128, 0);
 }

.COMPLETED_WITH_WARNINGS {
  color: rgba(255, 179, 37, 0.87);
}

.RUNNING {
  color: rgb(253, 253, 18);
 }
